<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>제품 목록</title>
    <style>
    /* CSS 스타일 */
    body {
      font-family: Arial, sans-serif;
    }

    .product-list {
      list-style-type: none;
      padding: 0;
    }

    .product {
      background-color: #f2f2f2;
      padding: 10px;
      margin-bottom: 10px;
    }

    .product-name {
      font-weight: bold;
    }

    .product-price {
      color: #666;
    }

    .product-description {
      margin-top: 5px;
    }
  </style>
</head>
<body>
<h1>제품 목록</h1>
<ul class="product-list">
    <li th:each="product : ${items}" class="product">
        <div class="product-name" th:text="'상품명: '+${product.itemName}"></div>
        <div class="product-price" th:text="'가격: ' + ${product.price}+'원'"></div>
        <div class="product-description" th:text="'상품설명: '+${product.itemDescription}"></div>
        <div class="product-id" th:text="'제품 ID: ' + ${product.itemId}"></div>
        <div class="seller-name" th:text="'판매자: ' + ${product.sellerName}"></div>
        <div><button type="button" th:onclick="|location.href = '@{/items/item/{itemName}(itemName=${product.itemName})}'|">
            상품 상세보기
        </button></div>
    </li>
</ul>
<button class="w-100 btn btn-secondary btn-lg" type="button"
        th:onclick="|location.href='@{/items/add}'|">
    제품 등록
</button>
</body>
</html>
