<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>장바구니</title>
</head>
<body>
<h1>장바구니</h1>

<table>
  <thead>
  <tr>
    <th>상품명</th>
    <th>가격</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="items : ${basketItems}">
    <td th:text="${items.item.itemName}"></td>
    <td th:text="${items.item.price}"></td>
    <td><button type="button" th:onclick="|location.href = '@{/basket/{itemId}(itemId=${items.item.itemId})}'|">
      장바구니에서 상품 삭제하기
    </button></td>
  </tr>
  </tbody>
</table>

<h3>총 합계: <span th:text="${totalPrice}"></span>원</h3>
<h3>총 수량: <span th:text="${totalAmount}"></span>개</h3>
<a href="/checkout">결제하기</a>
<div class="form-group">
  <button type="button" onclick="location.href='/';">홈으로 돌아가기</button>
</div>
</body>
</html>
